body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.clear{
    line-height:0;
    clear:both;
}

ul.pagination {
  display: inline-block;

}

.pagination li {
  color: black;
  float: left;
  padding: 8px 16px;
  margin-right:3px;
  text-decoration: none;
  background-color:#bbf1bb;
  color:black;
  cursor:pointer;
}

.pagination li.active {
  background-color:green;
  color:blue;
  color:white;
}


.centered {
   text-align: center;
   font-size: 0;
   margin:0;

}

.centered > div {
   float: none;
   display: inline-block;
   text-align: left;
   font-size: 13px;
   width:70%;
   margin-left:15%;
   margin-right:15%;
}



.page-container {
  position: relative;
  min-height: 100vh;
  padding:0;
  margin:0;
}

.content-wrap {
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align:center;
  background-color: black;
  color:white;
  text-align:center;
}

.container-fluid{
    margin:0;padding:0;
}

.row1{
    background-color:#9eb4cf;
    margin:0;padding:0;
    text-align:center;
    height:100px;
}

.row1 ul li{
    color:#9eb4cf;
    display: inline-block;
    margin-right:30px;

}

.row1 ul li a{
    color:white;
    text-decoration:none;
    font-size:28px;
}

.row1 .react{
    color:white;
    text-decoration:none;
    font-size:28px;
}

.overlay{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color:black;
    z-index:10000000000;
    opacity: 0.5;
}
.overlay img{
   height: 250px;
   left: 50%;
   margin-top: -125px;
   margin-left: -125px;
   position: absolute;
   top: 50%;
   width: 250px;
   z-index:100000000000;
}

/*begin custom part*/

.arrowud{
    float:left;
    width:20px;
    height:20px;
}

.arrowud img{
    height:30px;
    cursor:pointer;
}

.inputd{
    float:left;
    width:300px;
    max-width:300px;
    margin-left:5px;
}

.inputd2{
    margin-left:45px;
}

.inputd input{
    float:left;
    width:100%;

}

.inputd2 input{
    float:left;
    width:100%;

}

.choosed{
    float:left;
}

.slided{
    width:100%;
    max-width:200px;
    margin-left:45px;
    float:left;
}

.slided2{
    width:100%;
    max-width:500px;
    float:left;
    margin-left:45px;
}

.piesresp{
    width:100%;
    width:400px;
    margin-top:20px;
    margin-bottom:20px;
}

#pies{
width: 100%; text-align:center; margin: auto;
    background-color:white;
}

.deleteitem{
    float:left;
    background-color:red;
    color:white;
    margin-left:20px;
}

.inputd2{
    margin-left:40px;
}

.buttons{
    margin-left:45px;
}
.button1{
    background-color:blue;
    color:white;
}

.button2{
    background-color:green;
    color:white;
}

.button3{
    background-color:green;
    color:white;
    margin-left:40px;
}


.button6{
    background-color:black;
    color:white;
    margin-left:40px;
    margin-top:8px;
}

.inp2{
    margin-left:40px;
}

.button4{
    background-color:orange;
    color:white;
}

#can{
    background-color:white;
}

.reddy{
    color:red;
    margin-left:42px;
}
.radiotext{
    margin-top:3px;
    margin-bottom:3px;
    margin-right:5px;
    margin-left:5px;
    float:left;
}

.radiobut{
    float:left;
    margin-right:5px;
}
.bgfontcontainer{
    float:left;
}
.radios{
    float:right;
}
@media only screen and (max-width: 768px) {


 .centered > div {
   width:98%;
   margin-left:1%;
   margin-right:1%;
}

 .deletepostcom{
   width:100%;
 }

 .leftbutton{
    float:left;
}

.inputd{
    width:200px;
}

.piesresp{
    width:310px;
    margin-top:20px;
}

.slided2{
    display:none;
}



#can{
    height:100%;
     width:300px;
    margin:auto;
    margin-top:20px;
    font-size:55px;
}

#pies{

}
.piesresp{
    margin-bottm:20px;
}
.radios{
    float:left;
}
}

@media only screen and (min-width: 768px) {

.slided2{
    display:block;
}

}


.radiobut{
    margin-right:8px ! important;
}

.row {
    margin-right: 0 ! important;
    margin-left: 0 ! important;
}

.bgfont{
    float:left;
    margin-right:3px;
}

.bgfont1{
    float:left;
}
